@font-face {
    font-family: 'Akbar';
    src: url('./fonts/akbar.ttf') format('truetype');
}

@font-face {
    font-family: 'Futurama';
    src: url('./fonts/fr-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Spidey';
    src: url('./fonts/spidey.ttf') format('truetype');
}

@font-face {
    font-family: 'Horror';
    src: url('./fonts/horror.ttf') format('truetype');
}
